body {
    margin: 0;
}

.paint {
    display: flex;
    width: 100%;
    height: calc(100vh - 47px);
}

.left-panel {
    background: #c0c0c0;
    height: 100%;
    width: 56px;
}

.canvas {
    background: #7b7b7b;
    width: 100%;
}

canvas {
    background: #fff;
}

.bottom-panel {
    background: #c0c0c0;
    height: 47px;
    width: 100%;
    display: flex;
}

.color {
    width: 15px;
    height: 15px;
    border-top: 1px solid #7B7B7B;
    border-left: 1px solid #7B7B7B;
    border-right: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    margin-left: 1px;
}

.color-panel {
    width: 252px;
    height: 32px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.size-panel {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border: 2px solid #000;
}

.size {
    background: #000;
    border-radius: 50%;
}

.size-container{
    padding: 5px;
}   

.tools {
    
}

.brush {
    background-image: url(../img/toolbar-icons.png);
    background-position: 24px -75px;
    height: 25px;
    width: 25px;
}